footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 20px 0;
  border-top: 1px solid #e0e0e0;
  background-color: white;
}
.footer-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes icons-둥둥 {
  0% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(-10px);
  }
  70% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.footer-icons__img {
  width: 35px;
}

.footer-icons:hover .footer-icons__img {
  animation: 2s icons-둥둥;
}

.footer-icons {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 10px;
}

.footer-icons__desc {
  margin-top: 5px;
  font-weight: bold;
  transform: scale(0.8);
}
