main {
  padding: 30px 20px;
}

.items-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #ededef;
}

.item-List__img {
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-List__img img {
  width: 50px;
}

.item-list__info {
  padding-top: 10px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.item-list__info div {
  margin-top: 10px;
}

.item-list__info-meta {
  font-size: small;
  color: rgba(0, 0, 0, 0.4);
}

.item-list__info-price {
  font-weight: bold;
}

.write-btn {
  font-size: 15px;
  color: aliceblue;
  background-color: orange;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  position: fixed;
  bottom: 150px;
  right: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
